*{
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
}
html,body{
    height: 100%;
    background-color: #EFFAF2;
    font-family: monospace;
}
#header{
    height: 100%;
}
#leftHeader{
    background-color: black;
    color: aliceblue;
    height: 100%;
    width: 50%;
    float: left;
}
#logoOne{
    font-size: 40;
}
#title{
    font-size: 64px;
    font-weight: bolder;
}
#description{
    font-size: 32px;
}
#date{
    font-size: 20px;
}
.data{
    font-size: 24px;
}
#rightHeader{
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    background-color: #EFFAF2;
    border-style: dotted;
    border-color: black;
    width: 0px;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form>p{
    font-size: 24px;
}
form>label{
    font-size: 16px;
}
input{
    width: 420px;
    height: 50px;
}
input::placeholder{
    font-size: 24px;
}
#menu{
    background-color: #3E517A;
    color: #EFFAF2;
    height: 50px;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sectionMenu{
    border-right: 1px #EFFAF2 solid;
    width: 20%;
    font-size: large;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionMenu:nth-child(5){
    border: none;
}
.sectionMenu:hover{
    background-color: #EFFAF2;
    color: #3E517A;
}
#general{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#program{
    background-color: green;
}
.bodyEntry{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.leftProgram{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.elementEntry{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.elementEntryText{
    text-align: center;
    font-size: 24px;
    width: 30%;
}
.rightProgram{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;   
}
#egress{
    background-color: red;
}
.bodyEgress{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.elementEgress{
    width: 15%;
    text-align: center;
}
#methodology{
    background-color: orange;
}
.featuresMethodology{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#studies{
    background-color: blueviolet;
}
#footer{
    background-color: black;
    color: white;
    width: 100%;
}
.infoFooter{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logoTwo{
    text-align: left;
}
.contact{
    text-align: right;
}
.notice{
    width: 100%;
    text-align: center;
}
